<!-- create-modal.component.html -->
<h2>Crear Usuario</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre de usuario</mat-label>
    <input matInput formControlName="username" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Edad</mat-label>
    <input matInput formControlName="age" type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput formControlName="birthDay" type="date">
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-button type="button" (click)="onClose()">Cancelar</button>
  </div>
</form>
